body {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
}

#app {
  float: left;
  padding-top: 30px;
  margin: 20px;
}

#traffic-light {
  height: 550px;
  width: 200px;
  background-color: #333;
  border-radius: 20px;
  margin: 20px 20px 20px 0;
  padding: 30px;
  position: relative;
}

.light {
  height: 150px;
  width: 150px;
  background-color: #111;
  border-radius: 50%;
  margin: 10px auto;
  transition: background 500ms;
}

button {
  color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
}

.red {
  background-color: red;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 10px auto;
  transition: background 500ms;
}

.yellow {
  background-color: yellow;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 10px auto;
  transition: background 500ms;
}

.green {
  background-color: green;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 10px auto;
  transition: background 500ms;
}

.black {
  background-color: #111;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 10px auto;
  transition: background 500ms;
}
